.card.shadow.adjestment {
    margin: 15px;
}

  /* .filemodule{
    cursor:pointer;
    width:160px;
    height:160px;
  } */
  /* .upload-btn1-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  } 
  .upload-btn1-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } */